.navbar-custom, .tag-tema {
    background-color: blueviolet;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

.tag-tema {
    font-size: 1.5em;
}

.img-com-fade {
    -webkit-filter: blur(8px); /* Safari 6.0 - 9.0 */
    filter: blur(8px);
}

.card-img,
.card-img-top,
.card-img-bottom {
  max-height: 330px !important;
}

/*indicador de cor de cada tipo de conteudo*/
.badge-primary{
	background-color: #7F25D9;
}



.audio_podcast{
  width: 100%;
  margin-top: 18px;
}


.badge-danger{
	background-color: #D98E04;
}

.badge-warning{
	background-color: #F2E206;
}

/*cores do botoes de seleao de filtro de materia/artigo*/
.btn {
	border-radius: 24px;
}

.btn-info{
	background-color: #7F25D9;
}

.btn-info:hover{
	background-color: #5C12A6;
}

.btn-info:active:focus{
	background-color: #2F0459;
}

/*imagens*/
.img-max {
  max-width: 500px;
  width:100%;
}

.jumbotron {
  position: relative;
  text-align: center;
}

.title-article {
  position: absolute;
  top: 70%;  
}

.voltar {
  max-width: 400px;
}