.navbar-custom, .tag-tema {
    background-color: blueviolet;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

.tag-tema {
    font-size: 1.5em;
}

.img-com-fade {
    -webkit-filter: blur(8px); /* Safari 6.0 - 9.0 */
    filter: blur(8px);
}

.badge-primary{
	background-color: blueviolet;
}

.badge-danger{
	background-color: #D98E04;
}

.badge-warning{
	background-color: #F2E206;
}